{% extends 'base.html' %}

{% block content %}

<h1>DLCs</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Game</th>
        <th>Year</th>
    </tr>

    {% for dlc in dlcs %}

    <tr>
        <td><a style = "text-decoration:none" href="/dlcs/{{ dlc.product_id }}">{{ dlc.product_id }}</td>
        <td>{{ dlc.name }}</td>
        <td><a style = "text-decoration:none" href = "/games/{{ dlc.game_id }}">{{ dlc.product_id }}</a></td>
        <td>{{ dlc.release_date }}</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}