{% extends 'base.html' %}

{% block content %}

<h1>{{ dlc.name }}</h1>

<p><b>DlcID: </b>{{ dlc.product_id }}</p>

<p><b>Kind: </b><a style = "text-decoration:none" href="/kinds/{{ dlc.kind_id }}">{{ dlc.kind_id }}</a></p>

<p><b>Title: </b>{{ dlc.name }}</p>

<p><b>Game: </b><a style = "text-decoration:none" href = "/games/{{ dlc.game_id }}">{{ dlc.game_id }}</a></p>

<p><b>Year: </b>{{ dlc.release_date }}</p>

<p><b>Review Scores: </b>{{ dlc.review_score }}</p>

<p><b>Required Age: </b>{{ dlc.required_age }}</p>

<p><b>Price: </b>{{ dlc.price }}</p>

<p><b>Achievements: </b>{{ dlc.achievements }}</p>

<p><b>Genres: </b>{{ dlc.genres }}</p>

<p><b>Platforms: </b>{{ dlc.platforms }}</p>

<p><b>Categories: </b>{{ dlc.categories }}</p>

<p><b>Developers: </b><a style = "text-decoration:none" href="/companies/{{ dlc.developers_id }}">{{ dlc.developers_id }}</a></p>

<p><b>Publishers: </b><a style = "text-decoration:none" href="/companies/{{ dlc.publishers_id }}">{{ dlc.publishers_id }}</a></p>


{% endblock %}