{% extends 'base.html' %}
{% block content %}

<h1>{{ game.name }}</h1>

<p><b>GameID: </b>{{ game.product_id }}</p>

<p><b>Kind: </b><a style = "text-decoration:none" href="/kinds/{{ game.kind_id }}">{{ game.kind_id }}</a></p>

<p><b>Title: </b>{{ game.name }}</p>

<p><b>Year: </b>{{ game.release_date }}</p>

<p><b>Review Scores: </b>{{ game.review_score }}</p>

<p><b>Required Age: </b>{{ game.required_age }}</p>

<p><b>Price: </b>{{ game.price }}</p>

<p><b>Achievements: </b>{{ game.achievements }}</p>

<p><b>Genres: </b>{{ game.genres }}</p>

<p><b>Platforms: </b>{{ game.platforms }}</p>

<p><b>Categories: </b>{{ game.categories }}</p>

<p><b>Developers: </b><a style = "text-decoration:none" href="/companies/{{ game.developers_id }}">{{ game.developers_id }}</a></p>

<p><b>Publishers: </b><a style = "text-decoration:none" href="/companies/{{ game.publishers_id }}">{{ game.publishers_id }}</a></p>

{% endblock %}