{% extends 'base.html' %}
{% block content %}

<h1>{{ game.name }}</h1>

<p><b>GameID: </b>{{ game.game_id }}</p>

<p><b>Title: </b>{{ game.name }}</p>

<p><b>Year: </b>{{ game.release_date }}</p>

<p><b>Review Scores: </b>{{ game.review_score }}</p>

<p><b>Required Age: </b>{{ game.required_age }}</p>

<p>
    <b>Genres: </b>
<ul>
    {% for g in genres %}
    <li>{{ g.genres }}</li>
    {% endfor %}
</ul>
</p>

<p>
    <b>Platforms: </b>
<ul>
    {% for p in platforms %}
    <li>{{ p.platforms }}</li>
    {% endfor %}
</ul>
</p>

<p>
    <b>Categories: </b>
<ul>
    {% for c in categories %}
    <li>{{ c.categories }}</li>
    {% endfor %}
</ul>
</p>

{% endblock %}