{% extends 'base.html' %}
{% block content %}
<h1>Steam Games database</h1>

<h2>About</h2>
<!-- <p>This web application illustrates the use of the MovieStream
    database. The application is built using 
    <a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a>,
    <a href="https://flask.palletsprojects.com">Flask</a>, and
    <a href="https://jinja.palletsprojects.com">Jinja</a>.
</p> 
A mudar pois não sei se isto é necessario-->

<h2>Some database statistics</h2>

<table>
<tr>
    <th>Items</th>
    <th>Count</th>
</tr>
<tr>
    <td>Games</td>
    <td>{{ stats.n_game }}</td>
</tr>
<tr>
    <td>DLCs</td>
    <td>{{ stats.n_dlc }}</td>
</tr>
<tr>
    <td>Publichers</td>
    <td>{{ stats.n_publisher }}</td>
</tr>
<tr>
    <td>Developers</td>
    <td>{{ stats.n_developer }}</td>
</tr>
<tr>
    <td>Music</td>                  
    <td>{{ stats.n_music }}</td>
</tr>
<tr>
    <td>Product</td>
    <td>{{ stats.n_product }}</td>
</tr>
<tr>
    <td>Cathegory</td>
    <td>{{ stats.n_cathegory }}</td>
</tr>
<tr>
    <td>Company</td>
    <td>{{ stats.n_company }}</td>
</tr>
</table>

<h2>Sample functionality</h2>

<h3>Products</h3>
<p><a href = "/products">List all</a></p>
<p>Get game info:
<form name="msearch" action="javascript:window.open('/movies/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Spider" required/>
    <input type="submit" value="search"/>
</form>

<h3>Games</h3>

<p><a style = "text-decoration:none" href = "/games">List all</a></p>
<p>Get game info:
<form name="msearch" action="javascript:window.open('/movies/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Spider" required/>
    <input type="submit" value="search"/>
</form>
</p>


<h3>Dlc's</h3>

<p><a href = "/dlc">List all</a></p>
<p>Get dlc info:
<form name="msearch" action="javascript:window.open('/movies/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Spider" required/>
    <input type="submit" value="search"/>
</form>
</p>


<h3>Music</h3>

<p><a href="/musics">List all</a></p>
<p>Get music info:
<form name="msearch" action="javascript:window.open('/movies/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Spider" required/>
    <input type="submit" value="search"/>
</form>
</p>

<h3>Companies</h3>

<p><a href ="/companies">List all</a></p>
<p>Get company info:
<form name="msearch" action="javascript:window.open('/movies/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Spider" required/>
    <input type="submit" value="search"/>
</form>
</p>


<h3>Kind</h3>

<p><a href ="/kinds">List all</a></p>
<p>Get kind info:
<form name="msearch" action="javascript:window.open('/movies/search/'+document.forms['msearch'].elements['expr'].value,'_self')">
    <input name="expr" id="expr" value="Spider" required/>
    <input type="submit" value="search"/>
</form>
</p>

{% endblock %}