{% extends 'base.html' %}

{% block content %}

<h1>Music</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Game</th>
    </tr>

    {% for music in musics %}

    <tr>
        <td><a style = "text-decoration:none" href = "/musics/{{ music.product_id }}">{{ music.product_id }}</a></td>
        <td>{{ music.name }}</td>
        <td><a style = "text-decoration:none" href = "/games/{{ music.game_id }}">{{ music.game_id }}</a></td>
    </tr>

    {% endfor %}

</table>

{% endblock %}