{% extends 'base.html' %}

{% block content %}

<h1>Products</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Kind</th>
    </tr>

    {% for product in products %}

    <tr>
        <td>{{ product.product_id }}</a></td>
        <td>{{ product.name }}</td>
        <td><a style = "text-decoration:none" href = "/kinds/{{ product.kind_id }}">{{ product.kind_id }}</a></td>
    </tr>

    {% endfor %}

</table>

<button onclick="topFunction()" id="myBtn" title="Go to top"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
  </svg></button>

<script>
    // Get the button
    let mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
{% endblock %}